# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## File-based project format:
.idea
*.iws
*.iml
*.ipr

target/
empservice/target
serviceregistry/target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# unwanted xml files
rebel.xml

.idea/artifacts/emp_service_war.xml
.idea/artifacts/emp_service_war_exploded.xml
.idea/artifacts/service_registry_war.xml
.idea/artifacts/service_registry_war_exploded.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_11.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_11.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_3_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_woodstox_woodstox_core_5_0_3.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_1.xml
.idea/libraries/Maven__com_google_guava_guava_18_0.xml
.idea/libraries/Maven__com_google_inject_guice_4_1_0.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_2_0.xml
.idea/libraries/Maven__com_netflix_archaius_archaius_core_0_7_4.xml
.idea/libraries/Maven__com_netflix_eureka_eureka_client_1_6_2.xml
.idea/libraries/Maven__com_netflix_eureka_eureka_core_1_6_2.xml
.idea/libraries/Maven__com_netflix_hystrix_hystrix_core_1_5_12.xml
.idea/libraries/Maven__com_netflix_netflix_commons_netflix_commons_util_0_1_1.xml
.idea/libraries/Maven__com_netflix_netflix_commons_netflix_eventbus_0_3_0.xml
.idea/libraries/Maven__com_netflix_netflix_commons_netflix_infix_0_3_0.xml
.idea/libraries/Maven__com_netflix_netflix_commons_netflix_statistics_0_1_1.xml
.idea/libraries/Maven__com_netflix_ribbon_ribbon_2_2_2.xml
.idea/libraries/Maven__com_netflix_ribbon_ribbon_core_2_2_2.xml
.idea/libraries/Maven__com_netflix_ribbon_ribbon_eureka_2_2_2.xml
.idea/libraries/Maven__com_netflix_ribbon_ribbon_httpclient_2_2_2.xml
.idea/libraries/Maven__com_netflix_ribbon_ribbon_loadbalancer_2_2_2.xml
.idea/libraries/Maven__com_netflix_ribbon_ribbon_transport_2_2_2.xml
.idea/libraries/Maven__com_netflix_servo_servo_core_0_10_1.xml
.idea/libraries/Maven__com_netflix_servo_servo_internal_0_10_1.xml
.idea/libraries/Maven__com_sun_jersey_contribs_jersey_apache_client4_1_19_1.xml
.idea/libraries/Maven__com_sun_jersey_jersey_client_1_19_1.xml
.idea/libraries/Maven__com_sun_jersey_jersey_core_1_19_1.xml
.idea/libraries/Maven__com_sun_jersey_jersey_server_1_19_1.xml
.idea/libraries/Maven__com_sun_jersey_jersey_servlet_1_19_1.xml
.idea/libraries/Maven__com_thoughtworks_xstream_xstream_1_4_9.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_configuration_commons_configuration_1_8.xml
.idea/libraries/Maven__commons_jxpath_commons_jxpath_1_3.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_0_27_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_0_27_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_http_4_0_27_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_0_27_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_4_0_27_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_4_0_27_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_epoll_4_0_27_Final.xml
.idea/libraries/Maven__io_reactivex_rxjava_1_1_10.xml
.idea/libraries/Maven__io_reactivex_rxnetty_0_4_9.xml
.idea/libraries/Maven__io_reactivex_rxnetty_contexts_0_4_9.xml
.idea/libraries/Maven__io_reactivex_rxnetty_servo_0_4_9.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_ws_rs_jsr311_api_1_1_1.xml
.idea/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_9.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_1.xml
.idea/libraries/Maven__net_minidev_json_smart_2_2_1.xml
.idea/libraries/Maven__org_antlr_antlr_runtime_3_4.xml
.idea/libraries/Maven__org_antlr_stringtemplate_3_2_1.xml
.idea/libraries/Maven__org_apache_commons_commons_math_2_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_3.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_6.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_20.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_20.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_20.xml
.idea/libraries/Maven__org_assertj_assertj_core_2_6_0.xml
.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_55.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_55.xml
.idea/libraries/Maven__org_codehaus_jettison_jettison_1_3_7.xml
.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_3_1_4.xml
.idea/libraries/Maven__org_codehaus_woodstox_woodstox_core_asl_4_4_1.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_26_incubating.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_3_5_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_1_Final.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_3.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_4_0.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_freemarker_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_5_7_RELEASE.xml
.idea/libraries/
Maven__org_springframework_boot_spring_boot_starter_tomcat_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_1_5_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_commons_1_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_context_1_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_core_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_client_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_server_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_1_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_archaius_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_eureka_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_eureka_server_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_ribbon_1_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_crypto_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_11_RELEASE.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_17.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
.idea/libraries/Maven__xmlpull_xmlpull_1_1_3_1.xml
.idea/libraries/Maven__xpp3_xpp3_min_1_1_4c.xml
empmanager.iml
empservice/
serviceregistry/
